ul,
ol {
    margin : 0rem 0rem;
    padding : 7px;
    color : #444;
    list-style-type : none;
    @media screen and (min-width: 400px) {
        margin : 1rem .5rem; 
        padding : 0 13px;
      }
    @media screen and (min-width: 700px) {
        margin : 1rem .5rem; 
        padding : 0 15px;
    }
}



ul {
  
}

ul li, 
ol li {
    margin: .5rem 0rem;
}


 ul   li::before {
    content: "-";
    background: rgb(21, 255, 0);
    border-radius: 50%;
    padding-inline: .3rem;
    margin-inline-end: .3rem;
    width: 1rem;
    height: 1rem;
      }
      ul li li::before
      {
        background: transparent;
        content: ".";
      }


/*
li > ol {}
li > ul {}
*/

pre {

    background-color : #000000;
    color : #eee;
    overflow-x: none;
}
code {}

strong{}

hr {}

blockquote {

}