.BlockFlex{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
article{
flex: 1 0 250px;
padding: 5px;
margin: 10px;
border: black 5px solid;
background-color: black;
color: white;
box-shadow: 0 0 10px 0 black;
transition: background-color 0.5s ease;

}
article:hover {
    background-color: white; 
    color: black;
  }