.front-page{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
    
    }
    
    
    .blocflex__galerie {
    flex : 1 0 100%;
    }
    .block_evenement{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;       
    }
    
    .block_galerie{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgb(0, 255, 55);
       
    }
    .block_ndc{
        display: flex;
        flex-direction: column;
        align-items: center;
        div{
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
        
            @media screen and (min-width:$largeur__bureau) {
              flex-direction: row;
            }
        
    .blocflex__article{
        flex: 1 0 250px;
    padding: 5px;
    margin: 10px;
    border: rgb(0, 255, 30) 2px solid;
    background-color: black;
    color: rgb(0, 255, 55);
    box-shadow: 0 0 10px 2px rgb(34, 255, 0);
    transition: background-color 0.5s ease;
    font-family: 'Source Code Pro', monospace;
    a{
        text-decoration: none;
        color: rgb(0, 255, 55);
        }
      
        
        }
        
        article:hover {
        background-color: rgb(0, 255, 55);
        color: black;
        
        a{
        color: black;
        }
    

    }
}

    /////////////////////////////// MEDIA QUERY ///////////////////////
    
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
        .blocflex{
            flex-direction: column;
        }
        
        
        }

    @media only screen and (max-width: 767px) {
    .blocflex {
        flex-direction: column;
    }
}

}