.site__titre {
    text-decoration: none;
}
.site__titre h1 {
    font-size: clamp(1rem, 0.3864rem + 2.4545vw, 4.375rem);
   
}
.menu__entete{//nav
display: flex;
    .menu{//ul
        
        display: flex;
        flex: 1 0 800px;
        list-style-type: none;
        justify-content: flex-start;
        
        .menu-item::before {
            content: "";
            background: transparent;
            border-radius: 0;
            padding-inline: 0;
            margin-inline-end: 0;
        }
            .menu-item{//li

                a{
            padding: 15px;
            background-color: white;
            margin: 10px;
            color: black;
            border-radius: 5px;
            text-decoration: none;
            //box-shadow: 10px 15px 20px ;
                }
                a:hover{
                    background-color: rgb(179, 179, 179);
                    color: white;
                }
            }
           
        

    }
}