/////////////Mise en page de l'entete ///////////////////////////

.site__entete{

    grid-area: header;
    background-color: transparent;
}
/////////////Mise en page du main  ///////////////////////////////

.site__main{

    grid-area: main;
    // padding: 1rem clamp(1rem, 3vw, 20rem);
    background-color:rgb(0, 0, 0);
}


.entete__nav{ // log, menu, form de recherche, bouton burger
    display : flex;
    justify-content: space-between;
    align-items: center;
 
}



.site__titre {
    font-size: clamp(1rem, 0.3864rem + 2.4545vw, 4.375rem);
        text-decoration: none;

}

.menu__recherche { // menu, form de recher, bouton
    display : flex;
    flex-direction: column-reverse;
    align-items: flex-end;
    @media screen and (min-width : $largeur__bureau) {
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
    }
}


/* ///////////////////////////////// menu__entete */
.menu__entete{ // nav
    display: flex;
        transform: translateX(800px);
        transition: transform .5s;
        
        @media screen and (min-width: $largeur__tablette) {
           // position : static;
            transform: translateX(0); 
        }
    .menu { // ul
        display: flex;
        flex: 1 0 800px;
        list-style-type: none;
        justify-content: flex-start;

        @media screen and (min-width: $largeur__tablette) {
            flex-direction: row;
            align-items: center; 
        }
        .menu-item{//li

            a{
        padding: 5px;
        background-color: rgb(0, 0, 0);
        margin: 5px;
        color: rgb(0, 255, 55);
        border-radius: 5px;
        text-decoration: none;
        transition: background-color 0.5s ease, color 0.3s ease;
            }
            a:hover{
                background-color: rgb(0, 255, 55);
                color: rgb(0, 0, 0);
            }
        }

    }

}

/* ---------------------------------------- pour annuler le pseude element ::before */
 .menu  .menu-item::before {
    content: "";
    background:transparent;
    border-radius: 0;
    padding-inline: 0;
    margin-inline-end: 0;
    width: 0;
    height: 0;
      }
      ul li li::before
      {
        background: transparent;
        content: "";
      }
/* ---------------------------------------------------------- bouton burger  */     
.burger {
    display : block; 
    @media screen and (min-width: $largeur__tablette) {
     display : none;
    }

} 
#chkBurger:checked ~ .menu__entete {
    transform : translateX(0);
}

#chkBurger {
    display : none;

}