
.site__footer {
    grid-area: footer;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: black;

    .information {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: column;
      
      padding: 10px 30px 5px 30px;
  

      @media screen and (min-width: $largeur__bureau) {
        flex-direction: row;
        align-items: flex-start;
      }
    }
  

    h4 {
      color: #ffffff;
      font-size: 1.5rem;
    }
  

    .footer__logo {
  

      .custom-logo-link img {
        width: 85px;
        height: auto;
      }
    }
  
    div {
      display: flex;
      align-items: center;
      flex-direction: column;
    }
  

    .choix {
  

      li {
        list-style-type: none;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        background-color: rgb(0, 0, 0);
  

        @media screen and (min-width: $largeur__bureau) {
          flex-direction: row;
        }
  
        // Link style
        a {
          color: rgb(0, 255, 55);
          transition: all .5s ease;
          text-decoration: none;
        }
  

        a:hover {
          background-color: rgb(0,255,55);
          color: black;
          padding: 5px;
          border-radius: 5px;
        }
      }
    }
  

    .widget {
      display: flex;
      flex-direction: column;
      gap: 10px;
  

      @media screen and (min-width: $largeur__bureau) {
        flex-direction: row;
        align-items: flex-start;
      }
    }

    .Contacts {
      color: rgb(0,255,55);
    }
  }
  