.site__footer {
    grid-area: footer;
    display: flex;
    flex-direction: column;
    align-items: center;
    }
    
    .site__footer .colonne {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 1rem;
    }
    
    .site__footer .colonne .lien {
    padding-right: 1rem;
    display: flex;
    flex-direction: column;
    }
    
    .site__footer .colonne .info {
    text-align: center;
    }
    
    .site__footer .colonne .info li {
    color: #ffffff;
    }
    
    .site__footer .colonne .footer_colonne {
    width: 30%;
    padding-right: 1rem;
    }
    
    .site__footer .colonne .footer_colonne div div ul li a {
    color: #aaa;
    }
    
    .site__footer .colonne .choix {
    display: flex;
    }
    
    .site__footer .colonne .choix a {
    text-decoration: none;
    color: rgb(0, 255, 55);
    }
    
    footer {
    background-color: black;
    color: rgb(0, 255, 55);
    padding: 25px;
    border: rgb(0, 255, 55) dashed 5px;
    text-decoration: none;
    }
    
    .colonne1 {
    display: flex;
    padding: 30px;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    }
    
    .colonne1 section {
    padding: 10px;
    }
    
    .sidebar {
    display: flex;
    flex-direction: row;
    margin: 10px;
    justify-content: space-between;
    list-style-type: none;
    }
    
    .site__footer {
    border: 5px dashed rgb(0, 255, 55);
    color: rgb(0, 255, 55);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    }
    
    .menu-footer-container {
    color: rgb(0, 255, 55);
    }
    
 