Header{
    
    background-color: rgb(62, 62, 62);
    
}

.sectionTopFrontPage{
display: flex;
justify-content: flex-end;
align-items: center;
}
.sectionHeaderTop{
    display: flex;
align-content: center;
justify-content: space-between;
}
.custom-logo{
    display: flex;
    border-radius: 50%;
}
.recherche{
   width: 100%;
   max-width: 300px;
    display: inline-flex;
    margin-left: 20px;
}
.recherche__input{
    flex-grow: 1;
    padding: 10px;
    outline: none;
    border: 1px solid white;
    border-radius: 5px 0 0 5px;
    background-color:#cdcdcd ;
    color: black;
    transition: background-color 0.25s, box-shadow 0.25s;
}
.recherche__input:focus{
    background-color: white;
    box-shadow: 0 0 2px #9c9c9c;
}
.recherche__bouton{
    width: 40px;
    background-color: black;
    color: white;
    outline: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius:  0 5px 5px 0;
    cursor: pointer;
    user-select: none;
    
}