main{
    background-color: rgb(0, 0, 0);
   h1{
    color: rgb(0, 255, 55);
   }
   
}
.Title__main{
    color: rgb(0, 255, 55);
}
.site__titre{
color: rgb(0, 255, 55);

}
.site__titre:visited{
    color: rgb(0, 255, 55);
    
    }
.site__main{
color: rgb(0, 255, 55);
}
