.menu-evenement-container {//nav
    background-color: transparent;
    .menu { // ul
        display : flex;
        justify-content: space-between;

        .menu-item{ //li
            display : flex;
            flex-direction: column;
            border : 2px solid #15ff00;
            flex : 1 0 200px;
            height: auto;
            margin : 10px;

            a{
                display : flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                text-align: center;
                text-decoration: none;
                color: #15ff00;
                .title{
                    font-size: 1.5rem;
                }
                .description{
                    font-size:.8rem;
                }
                .menu-thumbnail{
                    display : block;
                    width : 150px;
                    height : 150px;
                }
            }
        }
    }
}